*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #14268c;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  }
  
  header{
    padding: 2em;
    
  }
   #category{
    text-transform: capitalize;
    color: goldenrod;
  }
  #answer{
    text-transform: capitalize;
  }
  #randomButton {
    background: rgb(34, 34, 218);
    color: black;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #randomButton:hover{
  color:blue;
    border: gold solid 1px;
    background: black;
  }
  
  
  #randomCategory{
    background: goldenrod;
    color: black;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.1s ease transform;
   
  }
  
  #randomCategory:hover{
    color:goldenrod;
    border: goldenrod solid 1px;
    background: black;
  }
  
  #getJeopardyGifs{
    background: rebeccapurple;
    color: black;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.1s ease transform;
  }
  #getJeopardyGifs:hover{
    color:rebeccapurple;
    border: goldenrod solid 1px;
    background: black;
  }